@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}

:root {
  * {
    font-family: 'Nebula Sans';
  }
  body {
    @apply font-sans;
  }
  .font-sans {
    font-family: 'Nebula Sans';
  }
  .font-hand {
    font-family: 'Kalam', cursive;
  }
  .font-code {
    font-family: 'Fira Code Variable', monospace;
  }
  .font-cute {
    font-family: 'Comfortaa Variable', system-ui;
  }
  .font-serif {
    font-family: 'Lora Variable', serif;
  }
}
