@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}

:root {
  --font-serif: 'Lora Variable', serif;
  --font-sans: 'Nebula Sans', sans-serif;
  --font-mono: 'Fira Code Variable', monospace;
  body {
    @apply font-serif;
    font-size: 16px;
  }
  .font-sans {
    font-family: var(--font-sans);
  }
  .font-hand {
    font-family: 'Kalam', cursive;
  }
  .font-code {
    font-family: var(--font-mono);
  }
  .font-cute {
    font-family: 'Comfortaa Variable', system-ui;
  }
  .font-serif {
    font-family: var(--font-serif);
  }
}

h1 {
  @apply font-serif;
  font-size: 2rem;
}

table th {
  @apply font-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

table td {
  @apply font-sans;
  font-size: 1rem;
  font-weight: 300;
}
